$base-color: #161616;
$color: #EEE;

body {
  background-color: $base-color;
}
h1 {
  color: $color;
  font-family: 'Roboto';
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  border-radius: 16px;
  border: 1px solid $color;
  text-shadow: 0 0 4px $color;
  box-shadow: 0 0 4px $color;
}